<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/041ebfb8-a56d-4605-bea6-d37f7999f76d/resourceGroups/azure-academia/providers/Microsoft.ApiManagement/service/AmigoSecretoAPI/apis/AmigoSecretoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/041ebfb8-a56d-4605-bea6-d37f7999f76d/resourceGroups/azure-academia/providers/Microsoft.Web/sites/AmigoSecretoAPI20231122132107</ResourceId>
    <ResourceGroup>azure-academia</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://amigosecretoapi20231122132107.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>84e74ba1-8427-4f4c-afa6-8d321ec706a0</ProjectGuid>
    <PublishUrl>https://amigosecretoapi20231122132107.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AmigoSecretoAPI20231122132107</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>